<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    Hello Perl Harbor
    <script>
        function f(x) {
            return Math.pow(x, 4) + Math.pow(x, 3) + 2 * x;
        }
        let tableObj = document.createElement('table');
        let tableHTML = '';

        for (let i = 0; i < 10; i++) {
            tableHTML += '<tr>'
            for(let j = 0; j < 10; j++)
            tableHTML += '<td>' + '<input type="button" value="confirm" onclick = "sendPost()" id=' + i + j +'/>' + '</td>';
            tableHTML += '</tr>'
        }
        tableObj.innerHTML = tableHTML;
        document.body.appendChild(tableObj);

    </script>

</body>

</html>
