<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    table {
      border-spacing: 0px
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
    }

    #playerInfo {
      width: 40%;
      float: left;
      text-align: center;
      margin-top: 5%;
    }

    #enemyInfo {
      width: 40%;
      float: left;
      text-align: center;
      margin-top: 5%;
      margin-left: 10%;
    }

    #field {
      float: left;
      margin-top: 5%;
      margin-left: 3%;
    }

    .button {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    .btnEmpty {
      width: 40px;
      height: 40px;
      background: url(/game/img/empty.jpg) no-repeat;
      cursor: pointer;
      border: none;
    }

    .btnLosser {
      width: 40px;
      height: 40px;
      background: url(/game/img/losser.png) no-repeat;
      cursor: pointer;
      border: none;
    }

    .btnChunkShip {
      width: 40px;
      height: 40px;
      background: url(/game/img/chunkShip.png) no-repeat;
      cursor: pointer;
      border: none;
    }

    .btnKill {
      width: 40px;
      height: 40px;
      background: url(/game/img/kill.png) no-repeat;
      cursor: pointer;
      border: none;
    }

    #shipsUser {
      width: 10%;
      float: left;
      margin-top: 20px;
    }

    #shipsEnemy {
      width: 10%;
      height: 600px;
      float: left;
      margin-top: 20px;
    }

    #user {
      width: 30%;
      float: left;
      margin-top: 20px;
    }

    #enemy {
      width: 30%;
      float: left;
      margin-top: 20px;
    }

    .arrowRight {
      width: 20%;
      height: 300px;
      float: left;
      margin-top: 175px;
      background-image: url(/game/img/arrowLeft.png);
      transform: rotate(180deg);
      background-size: cover;
    }

    .arrowLeft {
      width: 20%;
      height: 300px;
      float: left;
      margin-top: 175px;
      background-image: url(/game/img/arrowLeft.png);
      background-size: cover;
    }
  </style>
</head>

<body>
  <div id="content">
    <header style="text-align: center">
      <a href="/">
        <h1>Some lobby</h1>
      </a>
      <hr>
    </header>
    <div id="playerInfo" align="center"></div>
    <div id="enemyInfo" align="center"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/game/scripts/client.services.js"></script>
  <script src="/game/scripts/client.main.js"></script>
</body>

</html>
