<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pearl Harbor</title>
</head>
<style>
  body {
    background: url(/game/img/goldMine.jpg);
    background-size: cover;
  }

  #grid {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2vw;
  }

  #grid>div {
    font-size: 40px;
    padding: .5em;
    background: rgba(241, 219, 153, 0.5);
    text-align: center;
  }

  .container {
    margin: 0 auto;
    width: 70%;
  }
</style>

<body onload="getUserPerks()">
  <header>
    <h1>Pay room</h1>
    <hr>
  </header>
  <div class="container">
    <div id="grid">
      <div class="users">
        <h3>Users perks</h3>
        <div id="userPerks"></div>
      </div>
      <div>
        <h3>Get random box</h3>
        <form action="/perks/pay" method="POST">
          <script
            src = 'https://checkout.stripe.com/checkout.js'
            class = 'stripe-button'
            data-key = 'pk_test_EJU8ts0eGiQk4V441PX0baVz005xegsGYX'
            data-amount = '99'
            data-name = 'super perk'
            data-description = 'You can buy super perk'
            data-locale = 'auto'
            data-currency = 'usd'
          >
          </script>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>

  function sendGet() {
    axios.get('perks/getperk', {
    })
      .then(function (response) {
        if (response.data !== 'no') {
          alert('you have got ' + response.data)
        } else {
          alert('you have got 3 perks already')
        }
      })
      .catch(function (error) {
        alert(':c  ' + error)
      })
  }

  function getUserPerks() {
    axios.get('perks/getuserperks', {
    })
      .then(function (response) {
        const ul = document.createElement('ul')
        response.data.forEach(element => {
          const li = document.createElement('li')
          li.innerText = element
          ul.appendChild(li)
        })
        document.getElementById('userPerks').appendChild(ul)
      })
      .catch(function (error) {
        alert(':c  ' + error)
      })
  }
</script>