<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pearl Harbor</title>
</head>
<style>
  h3 {
    text-align: center;
  }

  body {
    background: url(/game/img/goldMine.jpg) no-repeat;
    background-size: cover;
  }

  #grid {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2vw;
  }

  #grid>div {
    font-size: 40px;
    padding: .5em;
    background: rgba(241, 219, 153, 0.5);
  }

  .container {
    margin: 0 auto;
    width: 70%;
  }

  form {
    border: 1px solid red;
    min-width: 20vw;
    min-height: 30vh;
    padding: 0.5em;
  }

  .payData {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .unit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  input,
  select {
    padding: 0;
    height: 2em;
    width: 20em;
    font-size: 26px;
  }

  .submit {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
  }

  .submit input {
    border-radius: 7%;
    font-size: 1em;
    background: url(https://developer.apple.com/design/human-interface-guidelines/apple-pay/images/ApplePay-Button.png) no-repeat;
    height: 38px;
    width: 212px;
  }
</style>

<body onload="getUserPerks()">
  <header>
    <h1>Pay room</h1>
    <hr>
  </header>
  <div class="container">
    <div id="grid">
      <div class="users">
        <h3>Users perks</h3>
        <div id="userPerks"></div>
      </div>
      <div>
        <h3>Get random box</h3>
        <div class="form">
          <div class="payData">
            <div class="unit">
              <span>Email</span> <input type="email" value="default@test.com">
            </div>
            <div class="unit">
              <span>Payment Methods</span>
              <select>
                <option value="tok_visa">visa</option>
                <option value="tok_mastercard">mastercard</option>
                <option value="tok_amex">amex</option>
                <option value="tok_discover">discover</option>
                <option value="tok_diners">diners</option>
                <option value="tok_jcb">jcb</option>
                <option value="tok_unionpay">unionpay</option>
              </select>
            </div>
            <div class="unit">
              Amount <span> 0.99$ </span>
            </div>
            <div class="submit">
              <input type="submit" onclick="pay()" value="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

  function sendGet() {
    axios.get('perks/getperk', {
    })
      .then(function (response) {
        if (response.data !== 'no') {
          alert('you have got ' + response.data)
        } else {
          alert('you have got 3 perks already')
        }
      })
      .catch(function (error) {
        alert(':c  ' + error)
      })
  }

  function pay() {
    const unit = document.getElementsByClassName('unit')
    const email = unit[0].children[1].value
    const payMethod = unit[1].children[1].value
    axios.post('perks/pay', {
      email, payMethod
    })
      .then(function (response) {
        alert('successfull pay get Yuor perk')
       location.pathname = '/perks/getperk'
      })
      .catch(function (error) {
        alert(':c  ' + error)
      })

  }

  function getUserPerks() {
    axios.get('perks/getuserperks', {
    })
      .then(function (response) {
        const ul = document.createElement('ul')
        response.data.forEach(element => {
          const li = document.createElement('li')
          li.innerText = element
          ul.appendChild(li)
        })
        document.getElementById('userPerks').appendChild(ul)
      })
      .catch(function (error) {
        alert(':c  ' + error)
      })
  }
</script>