<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pearl Harbor</title>
</head>
<body style="">
  <input type="button" value="get perk" onclick="sendGet()">
</body>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function sendGet() {
      axios.get('perks/getperk', {
      })
        .then(function (response) {
          if(response.data !== 'no') {
          alert('you have got ' + response.data)
          } else {
            alert('you have got 3 perks already')
          }
        })
        .catch(function (error) {
          alert(':c  ' + error)
        })
    }
  </script>
