<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pearl Harbor</title>
    <style>
        body {
            background-image: url(https://img1.akspic.ru/image/42957-manilskij_galeon-linejnyj_korabl-pirat-vysokij_korabl-igra-3840x2160.jpg?attachment=1);
            background-size: cover
        }

        h2 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 100px;
            text-align: center;
        }

        h3 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 75px;
            text-align: center;
        }

        a,
        h2 {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body style="">
    <header>
        <h2>Sea battle</h3>
        <a href="/room?type=2">
            <h3>Two-players</h3>
        </a>
        <a href="/room?type=3">
            <h3>Three-players</h3>
        </a>
        <a href="/room?type=4">
            <h3>Four-players</h3>
        </a>
        <a href="/perks">
            <h3>Pay to win</h3>
        </a>
        <a href="https://www.youtube.com/watch?v=umDr0mPuyQc?t=3">
            <h3 style="padding-top: 160px"> No God please. NOoooooo</h3>
        </a>
    </header>
</body>

</html>
