<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
     Hello Perl Harbor <br>
    <input type="text" name="name" id = "name"/> <br>
    <input type="text" name="password" id = "password"/><br>
    <input type="submit" name="confirm" onclick="sendPost()"/>
    <script src=""></script>
    <script>
      function sendPost() {
        axios.post('/login', {
          params:{
            name: name
            user: user
          }
        })
      }
        /*const name = document.getElementById('name').value
        const password = document.getElementById('password').value

        const req = new XMLHttpRequest();
        const url ='http://localhost:3000/login'
        req.open('POST', url)
        req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        req.send("name=" + name + "&password=" + password) 
        req.onload = () => {
          if(req.status === 200){
            const newreq = new XMLHttpRequest();
            const url ='http://localhost:3000/game'
            newreq.open('GET', url)
            newreq.setRequestHeader("x-api-key", req.response);
            localStorage.setItem('apiKey', req.response)
            newreq.send()
            newreq.onload = () => {
              if(newreq.status === 200) {
                location.replace('http://localhost:3000/game/field')
              }
            }
          }
          else {
            alert('wrong')
          }
        }
        req.onerror = () => {
          alert('Wrong')
        }
        }*/
    </script>
   </body>
</html>
