<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  Hello Perl Harbor <br>
  <input type="text" name="name" id="name" /> <br>
  <input type="text" name="password" id="password" /><br>
  <input type="button" value="confirm" onclick="sendPost()" />
  <a href="/signup"><input type="button" value="signup?" /></a>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function sendPost() {
      const name = document.getElementById('name').value
      const password = document.getElementById('password').value

      axios.post('/login', {
        name, password
      })
        .then(function (response) {
          Cookies.set('apiKey', response.data)
          location.href = '/game'
        })
        .catch(function (error) {
          alert('sorry pass or login is wrong', error)
        })
    }
  </script>
</body>

</html>