<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  Hello Perl Harbor <br>
  <input type="text" name="name" id="name" /> <br>
  <input type="text" name="password" id="password" /><br>
  <input type="button" value="confirm" onclick="sendPost()" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function sendPost() {
      axios.post('/login', {
        name: document.getElementById('name').value,
        password: document.getElementById('password').value
      })
      .then((res) => {
        debugger
        alert(res.data)
        localStorage.setItem('apikey': res.data)
      })
      .catch((err) => {
        console.log(err)
      })
    }
  </script>
</body>

</html>