<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      height: 100vh;
      background: url(https://cdn2.unrealengine.com/Diesel%2Fproduct%2Foregano%2Fhome%2FAnno1800_Gamescom2018_Screenshot_AI_Island_1440x2560-2560x1440-d6d7b78bdb415f3938b41393b2d277db732a0ddc.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      padding: 1em;
    }

    section {
      border: solid black;
      border-radius: 1%;
      height: 35vh;
      width: 30vw;
      padding: 2em;
      background: rgba(236, 224, 224, 0.58) ;
      box-shadow: 0 0 150px rgba(0, 0, 0, 1);
    }

    .label {
      text-align: center;
    }

    .label h1 {
      margin: 0;
      padding: 0;
      font-size: 3.5em;
    }

    .label h2 {
      margin: 0;
      padding: 0;
      font-size: 4.5em;
    }

    .form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .row {
      display: flex;
      justify-content: space-between;
      width: 25vw;
    }

    .row span {
      font-size: 2em;
      font-weight: 600;
    }

    .row-btn {
      margin-top: 2em;
    }

    .row-btn input {
      border-radius: 2%;
      width: 10em;
      height: 1.5em;
      font-weight: 400;
      font-size: 1.5em;
      background: rgba(255,255,255, 0.6);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    .text {
      width: 20em;
      height: 2em;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
  </style>
</head>

<body>
  <div class="content">
    <section class="welcome">
      <div class="label">
        <h1>Lets start to play</h1>
        <h2>SeaBattle</h2>
      </div>
      <div class="form">
        <div class="row">
          <span> Login</span>
          <input type="text" class="text" id="name" />
        </div>
        <div class="row">
          <span>Password</span>
          <input type="password" class="text" id="password" />
        </div>
        <div class="row-btn">
          <input type="button" value="confirm" onclick="sendPost()" />
          <a href="/signup"><input type="button" value="signup?" /></a>
        </div>
      </div>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function sendPost() {
      const name = document.getElementById('name').value
      const password = document.getElementById('password').value

      axios.post('/login', {
        name, password
      })
        .then(function (response) {
          Cookies.set('apiKey', response.data)
          location.href = '/game'
        })
        .catch(function (error) {
          alert('sorry pass or login is wrong', error)
        })
    }
  </script>
</body>

</html>