<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    div {
      float: left;
      width: 30%;
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>Registration new user</h1>
  <hr>
  <div style="">
    <form>
      <p> Name <input type="text" name="name" id="name"> </p>
      <p> Password <input type="text" name="password" id="password"></p>
      <p> Confirm Password <input type="text" name="confirmPassword" id="confirm"></p>
      <input type="button" name="confirm" onclick="sendPost()" value="confirm">
    </form>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function sendPost() {
      const name = document.getElementById('name').value
      const password = document.getElementById('password').value
      const confirmPassword = document.getElementById('confirm').value
      axios.post('/signup', {
        name, password, confirmPassword
      })
        .then(function (response) {
          document.cookie = "apiKey=" + response.data
          location.href = '/login'
        })
        .catch(function (error) {
          console.error(e)
        })
    }
  </script>
</body>

</html>
